@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cream text-textPrimary antialiased font-sans;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #D5D2BB;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C4D6A0;
}
